<link rel="stylesheet" href="/stylesheets/client.css">
<script>
  sessionStorage.clear();
</script>
{{> nav }}
<div id="box" class="container">
  <h3>{{name}}</h3>
  <div class="jumbotron">
    <form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="priv_key"><b>Input Private Key&nbsp;&nbsp;&nbsp;:</b></label>
    <input type="password" class="form-control" name="key" id="priv_key" placeholder="Here">
  </div>
  <button type="submit" id="input123" onclick="loginClient(event)" class="btn btn-primary mb-2">Submit</button>
</form>      
  </div>
{{> footer }}
  <script src="/javascripts/client.js"></script>