<link rel="stylesheet" href="/stylesheets/client.css">
{{> inav }}
{{!-- <div class="container">
    <h2>Check KYC</h2> --}}
{{!-- 
    <form>
        <div class="form-group">
            <label for="pub_key">Public Key:</label>
            <input type="text" class="form-control" id="pub_key"  required name="pub_key">
        </div>

        <div class="form-group">
            <label for="deKey">Access Key:</label>
            <input type="password" class="form-control" id="deKey" required 
                name="deKey">
        </div>
        <div class="col-sm-10 ">
            <button class="btn btn-primary" data-toggle="modal" data-target="#moreData" onclick="clientData(event)">Check User</button>
        </div>
    </form>
    <br>
    <br>
    <br> --}}

    <div id="box" class="container">
  <h3>{{title}}</h3>
  <div class="jumbotron">
    <form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="pub_key"><b>Input Public Key&nbsp;&nbsp;&nbsp;:</b></label>
    <input type="text" class="form-control" id="pub_key"  required name="pub_key" placeholder="Here"> 
 &nbsp;&nbsp;
    <label for="deKey"><b>Input Access Key&nbsp;&nbsp;&nbsp;:</b></label>
    <input type="password" class="form-control" id="deKey"  required placeholder="Here">

  </div>
  <button type="submit" data-toggle="modal" data-target="#moreData" onclick="clientData(event)" class="btn btn-primary mb-2">Submit</button>
</form>
     
  </div>

</div>
{{> footer }}
<div class="modal fade" id="moreData" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Name : </label>
                            <h6 id="name"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Email : </label>
                            <h6 id="email"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Date of Birth : </label>
                            <h6 id="dob"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Address : </label>
                            <h6 id="address"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Mobile : </label>
                            <h6 id="mobile"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Pincode : </label>
                            <h6 id="pincode"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Aadhar : </label>
                            <h6 id="aadhar"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Voter : </label>
                            <h6 id="voter"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Status : </label>
                            <h6 id="status"></h6>
                        </div>
                        <div style="display:flex; flex-direction: row; align-items: center">
                            <label> Public Key : </label>
                            <h6 id="pub_key"></h6>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> </div> </div> </div>
                <script src="/javascripts/client.js"></script>