<link rel="stylesheet" href="/stylesheets/user.css">
<script>
  sessionStorage.clear();
</script>
{{> nav }}
<div id="box" class="container">
    <h3>{{name}}</h3>
  <div class="jumbotron">
    {{!-- <h1>Insert Private Key</h1> --}}
    {{!-- <form >
        <input type="text" name="key" id="priv_key" placeholder="Enter Private Key">
        <button  class="btn btn-primary" onclick="loginUser(event)" >Submit</button>
    </form>       --}}
    
  <form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="priv_key"><b>Input Private Key&nbsp;&nbsp;&nbsp;:</b></label>
    <input type="password" class="form-control" name="key" id="priv_key" placeholder="Here">
  </div>
  <button type="submit" id="priv_key" onclick="loginUser(event)" class="btn btn-primary mb-2">Submit</button>
</form>
  
  
  </div>
{{> footer }}
<script src="/javascripts/user.js"></script>
