{{!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    Decentralized KYC System
  </a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
      </li>
    </ul>
  </div>
</nav> --}}


<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary info-color">
      <a class="navbar-brand" href="/">Decentralized KYC System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
      </div>
    </nav>