<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary info-color">
      <a class="navbar-brand" href="/">Decentralized KYC System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/user"><i class="far fa-user"></i>User</a>
            </li>
            <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/police"><i class="fas fa-users-cog"></i>Police</a>
            </li><li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/client"><i class="far fa-address-book"></i>Client</a>
            </li>
        </ul>
      </div>
    </nav>