body{
    background-color: white;
    color: grey;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: black;
    text-align: center;
  }
  #box{
      margin-top: 200px; 
  }

